# Ignore all
*
# Unignore all with extensions
!*.*
# Unignore all dirs
!*/
.idea
__pycache__/
cmake-build**/
cmake-exec**/
deps/
.DS_Store
env.cmake
visualtests-out
build/
RUNS/
MDLIB/*/*.png
MDLIB/*/*/*.png
*.out
*.o
.vscode
Manifest.toml