message("env.cmake is included")

set(CMAKE_TOOLCHAIN_FILE C:/Users/User/Downloads/vcpkg/scripts/buildsystems/vcpkg.cmake)
set(C_COMPILER gcc)
set(CXX_COMPILER g++)
set(SuiteSparse_DIR /usr/lib/x86_64-linux-gnu/)