[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
h5py = "*"

[dev-packages]

[requires]
python_version = "3.7"

[scripts]
test = "python3 -m unittest discover -s test/cases"