name: ci
on: [push]
jobs:
  ci:
    runs-on: ubuntu-latest
    env:
      HDF5_USE_FILE_LOCKING: FALSE
      C_INCLUDE_PATH: /usr/local/include:/usr/include/hdf5/serial:/usr/include/suitesparse
      LIBRARY_PATH: /usr/lib/:/usr/local/lib:/usr/lib/x86_64-linux-gnu:/usr/lib/x86_64-linux-gnu/hdf5/serial
      OMP_NUM_THREADS: 8
    steps:
      - uses: actions/checkout@v2
      - name: update Ubuntu
        run: sudo apt update
      - name: install gcc@7
        run: sudo apt -y install gcc-7
      - name: install suite-sparse
        run: sudo apt -y install libatlas-base-dev && sudo apt -y install libsuitesparse-dev
      - name: install hdf5
        run: sudo apt -y install libhdf5-serial-dev && apt list --installed
      - name: prepare makefiile
        run: mv SOURCE/Makefiles/makefile_ubuntu_ci SOURCE/makefile
      - name: Install pipenv
        run: pipx install pipenv
      - uses: actions/setup-python@v2
        with:
          python-version: '3.7'
          cache: 'pipenv'
      - name: install python dependencies
        run: pipenv install
      - name: run test suite
        run: pipenv run test
      - uses: lukka/get-cmake@latest
      - name: Build cmake project
        run: cmake -DCMAKE_BUILD_TYPE=Debug -DCMAKE_MAKE_PROGRAM=ninja -DMODEL=ShearTemplate -G Ninja ./build
      - name: Runs cmake project
        run: ./MDOODZ input.txt