name: ci
on: [push]
jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install packages with apt
        run: sudo apt install -y cmake gcc g++ libhdf5-serial-dev libsuitesparse-dev
      - name: Builds cmake project
        run: cmake -B ./cmake-build -DVALGRIND=ON && cmake --build ./cmake-build
      - name: Runs tests
        run: make run-tests